---
---

<header>
	<a href="/">Zach Smith</a>
	<nav>
		<a href="https://github.com/zachsmith1" target="_blank">GitHub</a>
		<a href="https://www.linkedin.com/in/smithzachd" target="_blank">LinkedIn</a>
		<a href="https://x.com/zach_dev1" target="_blank">X</a>
	</nav>
</header>
<style>
	header {
		padding: 1.5em 1em;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	header > a {
		font-weight: 700;
		font-size: 1.1em;
		color: rgb(var(--black));
		text-decoration: none;
	}
	header > a:hover {
		color: var(--accent);
	}
	nav {
		display: flex;
		gap: 1.25em;
	}
	nav a {
		font-size: 0.95em;
		color: rgb(var(--gray-dark));
		text-decoration: none;
	}
	nav a:hover {
		color: var(--accent);
	}
</style>
